@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;

}

body {
    width: 1080px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

/* header-section-start */
.detels {
    display: flex;
    background-color: black;
    border-radius: 15px;
    margin-top: 50px;

}

.detels .event-news {
    color: #ffff;
    width: 50%;
    padding: 50px 100px;
}

.players {
    width: 50%;
    padding: 25px 0 0 0;
}

.players img {
    width: 100%;
    height: auto;
    padding: 10px 100px auto;
}

.detels:hover .players img {
    transform: translate(-150px, 0px);
    transition: transform 5s ease-in-out 0.3s;
}

.event-news p {
    font-size: 13px;
}
.event-news button{
    color: #ffff;
    font-size: 15px;
    background-color: rgb(184, 4, 4);
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
/* live-match */
.form-live {
    display: flex;

}

.login {
    background-color: rgb(33, 34, 32);
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 45px;
    padding: 20px;
    border-radius: 7px;
}

.login button {
    padding: 10px 15px;
    margin: 10px;
    color: black;
    font-size: 13px;
    border-radius: 10px;
}

.login .blog {
    background-color: red;
    color: #ffff;
}

.transfer {
    margin: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

.match img {
    width: 100%;
    border-radius: 5px;
}

.newses p {
    font-size: 12px;
}

footer {
    background-color: rgb(31, 32, 32);
    padding: 55px 0;
}

footer h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 45px;
    padding-bottom: 25px;
}

ul {
    display: flex;
    justify-content: space-evenly;

}

ul li {
    list-style: none;

}

ul li a {
    color: rgb(184, 183, 183);
    text-decoration: none;

}
.icone{
    text-align: center;
    padding: 15px;
}
.fa-brands{
    background-color: #ffff;
    font-size: 35px;
    margin: 5px;
    border-radius: 5px;
}

/* Media Quary */

/* Tab Device */
@media only screen and (min-width: 577px) and (max-width:992px) {
    body {
        width: 97%;
    }

    .form-live {
        flex-direction: column;
    }

    .login {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        margin-top: 15px;
    }


    .transfer {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Mobile Device */

@media only screen and (max-width:576px) {
    body {
        width: 97%;
    }

    .detels {
        flex-direction: column;
        width: 100%;
        margin: 0 1% auto;
        margin-top: 15px;
        padding: 10px auto;


    }

    .detels .event-news {
        padding: 25px 15px;
        width: 95%;
    }

    .players {
        width: 100%;
    }

    .form-live {
        flex-direction: column;

    }

    .login {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin: auto;
        margin-top: 15px;
        background-color: #ffff;
    }

    .transfer {
        grid-template-columns: repeat(1, 1fr);
    }

    ul {
        flex-direction: column;
        text-align: center;
    }
}